@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

:root {
  /* Farver */
  --color-primary-500: #5e2779;
  --color-accent-400: #f7dceb;
  --color-accent-500: #ffd66e99;
  --color-neutral-100: #f8f2e9;
  --color-neutral-900: #000000;
  --color-secondary-400: #e5f2f5;
  --color-cta-500: #007c98;

  /* Typografi */
  --font-display: "Fraunces", serif; /* H1 */
  --font-sans: "Nobile", sans-serif; /* H2 */
  --font-body: "News Cycle", sans-serif; /* Brødtekst */
}

@layer base {
}

@layer components {
}
@layer utilities {
}
