---
import Logo from '../images/Logo.png';
---


<header>
  <nav class="bg-[var(--color-secondary-400)] shadow-md w-full">
    <div class="flex justify-between items-center h-16 px-4 w-full">

      <a href="/" class="flex-shrink-0">
        <img src={Logo.src} alt="Logo" class="h-10 w-auto" />
      </a>

    </div>
  </nav>
</header>
